/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/src/main/resources/static/node_modules/*
/src/main/resources/static/vendors/*
/src/main/resources/static/css/*
/src/main/resources/static/img/*
/src/main/resources/static/icons/*
/src/main/resources/static/js/*
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/